#newTask {
    visibility: hidden;
    width: 36%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 63.7%;
    border-left: 5px solid var(--black);
    background-color: var(--white);
}