#container {
    border: 1px solid transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    /* Background image */
    background-image: url("../../Assets/Background\ Pattern.png");
    background-size: 6%;
    background-repeat: repeat;
    object-fit: cover;
}