body {
    margin: 0;
    font-family: Outfit, sans-serif;
    background-color: var(--white);
}

h1 {
    max-width: 54%;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 24px;

    /* Font settings */
    font-weight: var(--extra-bold);
    font-size: 4.8rem;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 100px;

    /* Bottom Line */
    background-image: linear-gradient(to right, var(--black) 60%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 38px 8px;
    background-repeat: repeat-x;
}

h1 strong {
    color: var(--yellow);
}

h2 {
    /* Font settings */
    font-weight: var(--extra-bold);
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 12px;
}

h3 {
    /* Font settings */
    font-weight: var(--extra-bold);
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
}

p {
    /* Font settings */
    font-weight: var(--extra-bold);
    font-size: 0.7rem;
    text-transform: uppercase;
    text-align: center;
}

label {
    /* Font settings */
    font-weight: var(--bold);
    font-size: 0.95rem;
    text-transform: uppercase;
}