:root {
    /* Colors */
    --yellow: #FFDE55;
    --black: #0F0F0F;
    --white: #F8F8F8;
    --light-brown: #917963;
    --brown: #59412D;
    --dark-brown: #2b1b0f;

    /* Fonts */
    --extra-bold: 800;
    --bold: 600;

    /* Shadows */
    --card-shadow: 15px 15px 1px rgba(0, 0, 0, 0.2);
    --task-shadow: 8px 10px 1px rgba(0, 0, 0, 0.2);
    --button-shadow: 4px 7px 1px rgba(0, 0, 0, 0.2);
}